/* .image{
    display: flex;
    position: relative;
    height: fit-content;
    justify-content: flex-end;
    margin-top: 80px;

}
.image img{
  
    height: auto;
} */

.section_landing{
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.sec{
    margin-top: -80px;
}
.content{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.content h1{
    font-size: 3rem;
}
/* .image img{
    height: 600px;
} */
.image img{
    max-width: 100%;
    height: auto;
  }

.image_section img{
    justify-content: flex-end;
    max-width: 400px;
    height: auto;
  align-items: center;
}
.content_section{
    width: 50%;
    margin: 30px;
    margin-left: 40px;
    align-self: center;
}
.content_section p{
  text-align: justify;  
}
.image_section{
    width: 40%;
}
