/* Navbar.css */

.navbar{
    display: flex;
    flex-wrap: wrap;
    
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; /* Position the dropdown below the trigger element */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    position: relative;
  }

  .logo img{
    height:50px;
    width: 50px;
    border-radius: 50px;
    margin-left: 20px;

  }
  .links{
    justify-content: flex-end;
  }

  .servicesdropdown{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: grey;
  }
