.services_top{
    position: relative;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 30px; */
}
.services_top img{
    height: 100%;
    width: 100%;
    position:absolute;
    object-fit: cover;
    opacity: 0.6;
}
.services_top h1{
  
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #0a0808;
        font-size: 40px;
        text-align: center;
}

