.slide{
    height: auto;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    margin-left: 20px;
}

.slide h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    justify-content: center;
    text-align: justify;
}
.slide p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    justify-content: center;
    text-align: justify;
}